<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlec</servlet-name>
        <servlet-class>controlers.Controlec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServ</servlet-name>
        <servlet-class>controlers.LogoutServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServ</servlet-name>
        <servlet-class>controlers.LoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilServ</servlet-name>
        <servlet-class>controlers.PerfilServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlec</servlet-name>
        <url-pattern>/Controlec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServ</servlet-name>
        <url-pattern>/LogoutServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServ</servlet-name>
        <url-pattern>/LoginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilServ</servlet-name>
        <url-pattern>/PerfilServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <display-name>Home</display-name>
            <url-pattern>/views/home.jsp</url-pattern>
        </jsp-property-group>
    </jsp-config>
        
</web-app>
